.css-1ygcj2i-MuiTableCell-root {
  font-size: 1.6rem !important;
  font-weight: 700 !important;
  color: #454066 !important;
  text-align: center !important;
}

.css-1ex1afd-MuiTableCell-root {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  color: #757171 !important;
  text-align: center !important;
}
