/*  ! Sidebar - */

.header--logo {
  width: 6% !important;
}

.css-lvucg2-MuiListItem-root:hover,
.css-lvucg2-MuiListItem-root:focus {
  background: #f7f7f71e !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background: #454066 !important;
}

/* ! Mui sidebare Icon */

.css-cveggr-MuiListItemIcon-root {
  min-width: 3rem !important;
  cursor: pointer;
}

.css-10hburv-MuiTypography-root {
  color: rgb(255, 255, 255) !important;
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  letter-spacing: 2px !important;
  cursor: pointer;
}

.sidebar-icon {
  width: 2.1em;
}

.app-header-logo {
  width: 25px;
  height: 25px;
}
